<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<style>
 
  body{
        background-image: url("https://i.imgur.com/MBLi5oT.jpg");
        background-position: center;
        background-repeat: no-repeat;



  }
</style>
<body>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<!-- LOGIN FORM -->
  <h2 align="center">Login</h2>
<form action='/login' method = 'post'>
  {% csrf_token %}
  <p align="center"> Username: <input type="text" placeholder="username" name="name"></p>
  <p align="center"> Password: <input type="password" placeholder="password" name="pass"></p>
  <p align="center"><input type="submit" value = "Login">
</form>

<form action='/registration' method = 'post'>
  {% csrf_token %}
    <h2 align="center">Register</h2>
  <p align="center"> Name: <input type="text" placeholder="Full Name" name="name"></p>
  <p align="center"> Username: <input type="text" placeholder="username" name="username" ></p>
  <p align="center"> Email: <input type="email" placeholder="example@example.com" name="email"></p>
  <p align="center"> Password: <input type="password" placeholder="password" name="pass"></p>
  <p align="center"><input type="submit" value = "Register">
</form>

<form action= '/delete' method = 'post'>
{% csrf_token %}
{% for member in members %}
<p align="right">username:{{member.username}}  pass:{{member.password}}</p>
<p align="right"><button type="submit">Delete</button>
<input type="hidden" name="user" value= {{member.username}}>
{% endfor %}
</form>

</body>
</html>