<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<!-- <p>Name: {{bob.name}}; PE: {{bob.PE}}; Change_pct: {{bob.change}}; Last: {{bob.last}}; Short Ratio: {{bob.short}}; As of: {{bob.time}}</p> -->
<p><!-- 
{% for company  in companies %}
Name: {{company.name}}; PE: {{company.PE}}; Change_pct: {{company.change}}; Last: {{company.last}}; Short Ratio: {{company.short}}; As of: {{company.time}} -->

<!-- new  = Stock.objects.create(symbol =post, open_price= df['Open'][0], \
			high_price= df['High'][0],  low_price = df['Low'][0],\
			 adj_close= df['Adj Close'][0],  current_date = start) -->

<!-- {% endfor %} -->

{% for company in all%}
Symbol: {{company.symbol}}; Open: {{company.open_price}}; High: {{company.high_price}}; Low: {{company.low_price}}; Adj Close: {{company.adj_close}}; As of: {{company.current_date}} 

{% endfor %}



</p>







<!-- <p>{% for company  in keys %}


Company Name:{{company.keys.all}} . Stock Symbol:{{info.company.symbol}} . Stock Price: {info.{company.price}}</p>



{% endfor %} -->



<!-- <p>{{all}}</p>
<p>Name: {{name}}; PE: {{PE}}; Change_pct: {{change}}; Last: {{last}}; Short Ratio: {{short}}; As of: {{time}}</p> -->
</body>
</html>