<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>




<H2>Details</H2>
<form action= '/scoring' method = 'post'>
{% csrf_token %}


<h5> The score for
{% for x in values.compone %}
{{x}} is
{% endfor %}
this acceptable?
<input type="submit" value="Yes!" name = 'one' >
<input type="hidden" name = 'score' value = {{x}} >
</h5>

<h5> The score for
{% for x in values.comptwo %}
{{x}} is
{% endfor %}
this acceptable?
<input type="submit" value="Yes!" name = 'two' >
<input type="hidden" name = {{x}} >
</h5>

<h5> The score for
{% for x in values.compthree %}
{{x}} is
{% endfor %}
this acceptable?
<input type="submit" value="Yes!" name = 'three' >
<input type="hidden" name = {{x}} >
</h5>




</form>


<!-- {{values.compone}}
<h1> The score for
{% for x in values.compone %}
{{x}} is
{% endfor %}
this acceptable?
</h1>
{{values.comptwo}}
<h1> The score for
{% for x in values.comptwo %}
{{x}} is
{% endfor %}
this acceptable?
</h1>
{{values.compthree}}
<h1> The score for
{% for x in values.compthree %}
{{x}} is
{% endfor %}
this acceptable?
</h1> -->










































<!-- <p>Name: {{bob.name}}; PE: {{bob.PE}}; Change_pct: {{bob.change}}; Last: {{bob.last}}; Short Ratio: {{bob.short}}; As of: {{bob.time}}</p> -->
<!-- <p>
{% for company  in companies %}
Name: {{company.name}}; PE: {{company.PE}}; Change_pct: {{company.change}}; Last: {{company.last}}; Short Ratio: {{company.short}}; As of: {{company.time}} -->

<!-- new  = Stock.objects.create(symbol =post, open_price= df['Open'][0], \
			high_price= df['High'][0],  low_price = df['Low'][0],\
			 adj_close= df['Adj Close'][0],  current_date = start) -->

<!-- {% endfor %} -->
<!-- <h1>The Average difference is {{score}}
</h1>
<h>Details
</h>
{% for company in all%}
<p>Symbol: {{company.symbol}}; Open: {{company.open_price}}; High: {{company.high_price}}; Low: {{company.low_price}}; Adj Close: {{company.adj_close}}; Volume: {{company.volume}} Difference between High and Low: {{company.diff}} As of: {{company.current_date}} 
</p>
{% endfor %}



</p> --> 





<!-- <p>{% for company  in keys %}


Company Name:{{company.keys.all}} . Stock Symbol:{{info.company.symbol}} . Stock Price: {info.{company.price}}</p>



{% endfor %} -->



<!-- <p>{{all}}</p>
<p>Name: {{name}}; PE: {{PE}}; Change_pct: {{change}}; Last: {{last}}; Short Ratio: {{short}}; As of: {{time}}</p> -->
</body>
</html>